{% extends "base.html" %}

{% block title %}meep: Login!{% endblock title %}
{% block body %}
<div id='Header'><h1>Main Page</h1></div>
<div id='Content'>
<p>
<form action = '/m/add' method = 'POST'>
<input type = 'hidden' name = 'pID' value = "!">
<input type = 'submit' value = 'Add Message'>
<form>
<p>
<form  action = '/create_user'>
<input type = 'submit' value = 'Create User'>
</form>
<p>
<form action = 'logout'>
<input type = 'submit' value = 'Logout'>
</form>
<p>
<form action = '/m/list' method='POST'>
<input type = 'submit' value = 'Show Messages'>
</form>
</div>
{% endblock body %}